<?php
// php goes here
?>
<!DOCTYPE html>
<title> </title>
<style type = "text/css">
/** your css here **/
</style>
<head>
<menu>
</menu>
</head>
<body>
<script type ="text/javascript">
// your javascript goes here
</script>
</body>
</html>
